* {
    background-size: cover;
}

body {
    text-align: center;
}

header, footer {
    background-image: linear-gradient(to bottom, rgb(255, 255, 0), rgb(8, 137, 166));
    color: white;
    width: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

main {
    background-image: url('/background.jpg');
    background-repeat: no-repeat;
    font-family: "Zalando Sans";
    text-align: center;
    flex-direction: row;
}

.bungee-inline-regular {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.zalando-sans {
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Add a black background color to the top navigation */
.navigation {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
    background-color: #ddd;
    color: black;
    transition: width 2s;
    transition-property: all;
    transition-duration: 1s;
    transform: scale(1.1, 1);
}

/* Add a color to the active/current link */
.navigation a.active {
    background-color: #29a3e4;
    color: white;
}

ul {
    list-style-type: none;
    background-color: #29a3e4;
}

h1 {
    font-family: "Bungee Inline";
    background-color: #d398d0;
    border-style: double;
    border-color: blue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

p {
    background-color: #abc6d5;
    padding: 5px;
    margin: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #333;
    color: white;
}

.FAQ {
    background-color: #333;
    color: black;
    margin: 10px;
    padding: 30px;
}

.attractions {
    background-color: #abc6d5;
    padding: 5px;
}

img {
    border-radius: 10px;
    border-style: double;
    border-color: aqua;
    cursor: default;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

img:hover {
    cursor: url(cursor.cur), pointer;
}

table, th, td {
    background: #a8cf46;
    border: 1px solid;
}